/**
 * Mobile-First 12-column Grid
 */

.grid {
  width: 100%;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Mobile-first single column grid
[class*='col-'] {
  float: none;
  width: 100%;
  margin-right: 0;
}

// Until we're above this breakpoint
@media only screen and (min-width: 768px){

  // Generate all the column widths
  @for $column from 1 through $grid-columns {
    .col-#{$column} {
      width: (($single-col-width * $column) + (($column - 1) * $grid-gutter) * 1%)
    }
  }

  // Add multi-column settings
  [class*='col-'] {
    float: left;
    margin-right: $grid-gutter * 1%;
    .grid &:last-of-type {
      margin-right: 0;
    }
    border-collapse: collapse !important;
  }

}

// a single column option
.single-col {
  margin: 0 auto;
  width: 100%;
  max-width: 760px;
}
