/**
 * Global Settings
 */

$spacing:       1rem;
$spacing-large: $spacing*2;
$spacing-small: $spacing/2;

$border-radius: 4px;

// ----------- Colors

$site-color-3: #333;
$site-color-6: #666;
$site-color-9: #999;
$site-color-c: #ccc;
$site-color-f: #f6f6f6;

$color-warning:   orange;
$color-error:     red;
$color-success:   green;

$base-text-color:  $site-color-3;
$page-background:  white;

// ----------- Type

$sans:      "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:      Georgia, Times, "Times New Roman", serif;
$mono-font: "Consolas", Monaco, Menlo, "Courier New", monospace;

$base-line-height:  1.35em;


/**
 * Tools
 * Mixins and functions
 */


/**
 * Generic
 * Ground-zero styles
 */

// ----------- generic/reset
// ----------- generic/normalize
// ----------- generic/box-sizing

/**
 * Base
 */

// ----------- base/headings
// ----------- base/images
// ----------- base/links
// ----------- base/lists
// ----------- base/page
// ----------- base/paragraphs
// ----------- base/quotes
// ----------- base/tables

// ----------- base/forms

/**
 * base/forms Placed under button settings for inheritance
 */

// ----------- base/headings

$heading-font:        $sans;
$heading-line-height: 1.25em;

$h1-size: 2.25rem;  //36px
$h2-size: 1.875rem; //30px
$h3-size: 1.5rem;   //24px
$h4-size: 1.25rem;  //20px
$h5-size: 1.125rem; //18px
$h6-size: 1rem;     //16px

// ----------- base/images

$img-vertical-align: middle;

// ----------- base/links

// ----------- base/lists

$list-margin:    $spacing;
$dt-font-weight: normal;
$dt-margin:      1em 0 0 0;
$dt-padding:     0;
$dd-margin:      0;
$dd-padding:     0;

// ----------- base/page

// ----------- base/paragraphs

// ----------- base/pre-code

$pre-margin-bottom: $spacing;

// ----------- base/tables

/*

$table-global-font-family: $sans;
$table-global-font-size:   .8rem;
$table-global-line-height: 1.25em;
$table-global-padding:     .5rem;

$table-hide-static-size: 800px; // hide static tables in mobile

$table-border:                 1px solid $brand-color-1;

$table-thead-background-color: $brand-color-1;
$table-thead-th-color:         white;

$table-th-text-align:          left;
$table-th-font-family:         $sans;
$table-th-font-weight:         600;
$table-th-td-padding:          1rem;
$table-th-td-line-height:      inherit;
$table-th-vertical-align:      bottom;

$table-td-vertical-align:      top;
$table-td-text-align:          left;

$admin-table-border-color:           $brand-color-1;
$admin-table-thead-background-color: $brand-color-1;

*/


/**
 * Objects
 * Cosmetic-free design patterns
 */

/*
Setting container-max-width at 100% allows for edge-to-edge layout
(and edge-to-edge background color even when a wrap is used).
The (optional) wrap sets a max content width.

|-------------------- screen --------------------|
|--p--|------------ container -------------|--p--|
|---------------- container-full ----------------|
|----------|---------- wrap ----------|----------|
*/

// ----------- objects/wrappers

$container-pad:        $spacing-large;
$container-max-width:  100%;
$container-pad-tablet: $spacing;
$container-pad-mobile: $spacing-small;
$wrap-max-width:       1800px;
$wrap-min-width:       100px;

$cmbox-default-background: transparent;
$cmbox-default-padding:    0;

// ----------- objects/grid

$grid-columns:     12;
$grid-gutter:      3;
$single-col-width: (100 - (($grid-columns - 1) * $grid-gutter )) / $grid-columns;

/**
 * Components
 * Designed components, chunks of UI
 */

// ----------- components/breadcrumbs

// ----------- components/buttons

$button-font:                $sans;
$button-color:               white;
$button-background:          black;
$button-text-transform:      uppercase;
$button-font-weight-default: bold;
$button-font-weight:         bold;
$button-font-size:           .75rem;
$button-letter-spacing:      1px;
$button-padding:             1rem 2rem;
$button-margin:              1rem 0;
$button-border:              none;
$button-border-radius:       0;
$button-border-radius-round: 8px;

$button-color-hover:      white;
$button-background-hover: #333;

// base/forms

/*
$form-input-padding:              .75rem 1rem;
$form-input-margin:               0 0 1rem 0;
$form-input-background:           white;
$form-input-border:               2px solid $site-color-9;
$form-input-border-focus:         2px solid $site-color-3;
$form-input-border-radius:        0;
$form-input-search-border-radius: $border-radius;
$form-radio-check-margin-right:   5px;

$form-textarea-min-height: 80px;
$form-textarea-max-height: 200px;
$form-textarea-padding:    1rem;

$form-label-font-weight: $fw-normal;
$form-label-margin:      .5em 0;

$form-input-button-padding:          $button-padding;
$form-input-button-margin:           $button-margin;
$form-input-button-border:           0;
$form-input-button-background:       $button-background;
$form-input-button-background-hover: $button-background-hover;
$form-input-button-color:            $button-color;
$form-input-button-font:             $button-font;
$form-input-button-font-weight:      $button-font-weight;
$form-input-button-border:           $button-border;
$form-input-button-border-radius:    $button-border-radius;

$form-required-color: red;

*/

// base/forms

// ----------- components/header

// ----------- components/footer
