/**
 * Tables
 */

table {
	margin-bottom: $spacing;
}

table th,
table td {
	padding: $spacing;
	border-bottom: 1px solid #ccc;
	text-align: left;
	-webkit-font-smoothing: antialiased;
}

table th {
	border-width: 2px;
}

table tr:last-child td {
	border-bottom: none;
}

table tr:nth-child(even) {
	background: #eee;
}

table tbody tr:hover {
	background: #f9f9f9;
}

// ----------- default table styles

// optional: global font family & size for tables
table,
table * {
  font-family: $table-global-font-family;
  font-size: $table-global-font-size;
  line-height: $table-global-line-height;
}
table * {
  padding: $table-global-padding;
}

table {
  border-collapse: collapse !important;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}

table thead {
  background-color: $table-thead-background-color;
}

table th {
  color: $table-thead-th-color;
}

table,
table td,
table th {
  border: $table-border;
  border-collapse: collapse !important;
}

th {
  vertical-align: $table-th-vertical-align;
  text-align: $table-th-text-align;
}
td {
  vertical-align: $table-td-vertical-align;
  text-align: $table-td-text-align;
}

// horizontal row labels
.table__row-label {
  background-color: lighten($table-thead-background-color, 20%);
  color: $table-thead-th-color;
}

// ----------- static (min-width) table

/*
.static-table {
  width: 100%;
  min-width: 800px;
}

//We hide static tables on mobile so they don't degrade the display.
//We do it MUCH sooner than the .static-table min-width setting
//to take into account the L/R padding of the site's containers.

@media all and (max-width: 900px){

  .static-table {
    display: none;
  }

}

.static-table,
.static-table th,
.static-table td {
  border: 1px solid $table-border-color;
  border-collapse: collapse;
}

.static-table th,
.static-table td {
  padding: 1rem;
}

.static-table thead {
  background-color: $table-head-background-color;
  color: white;
  font-family: $sans;
  font-weight: 400;
}
*/

// ----------- responsive table

.responsive-table {
  width: 100%;
  //min-width: 400px;
}

// ----------- responsive table breakpoints

.responsive-table .mobile-thead,
.responsive-table .mobile-colhead {
  display: none;
}

@media all and (max-width: 800px){

  .responsive-table thead {
    display: none;
  }

  .responsive-table .mobile-thead {
    display: block;
    background-color: $table-thead-background-color;
    color: $table-thead-th-color;
    width: 100%;
  }

  // we need some extra border control on the responsive tables
  .responsive-table {
    border: none !important;
  }

  .responsive-table td {
    &:not(:last-child) {
      border-bottom: none !important;
    }
  }

  .responsive-table,
  .responsive-table td,
  .responsive-table th {
    width: 100%;
    display: block;
  }

}
